.div-base {
  box-shadow: 2px 2px 13px 0 rgba(1,1,0,.1);
  padding: 10px;
  display: block;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.caption {
  padding: 9px;
  color: #333;
}
.base-name {
  margin-top: -6px;
  padding-top: 8px;
  margin-bottom: -4px;
  color: #211922;
  font-weight: 400;
  font-size: 13px;
  border-top: 1px solid #e7e7e7;
}
.article-image {

  display: block;
  max-width: 100%;
  max-height: 100px;
  border: 0;
  vertical-align: middle;

  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}