.app {
  display: flex;
}

aside.primary-aside {
  width: 250px;
  margin-left: 15px;
}

aside.primary-aside a.active {

}

main {
  flex: 1;
}

.aside-li {
  margin: 15px;
}
.aside-ul {
  padding: 0;
  padding-top: 15px;
  margin: 0;
}